
@using MovieLibrary.Common
@model MovieLibrary.Web.ViewModels.Movies.AllMoviesViewModel
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}
@{
    this.ViewData["Title"] = $"All movies";
}
<fieldset class="border border-white text-md-center" style="color:white">

    <legend style="width:auto;padding:10px;">
        <span>@ViewData["Title"]</span>
    </legend>
    @if (Model.Movies.Count() == 0)
    {
        <br />
        <h4><i> There are no movies in this category. </i></h4>
        <br />
    }
    <div class="container text-center">
        <div class="row gx-5 justify-content-start">
            @foreach (var movie in Model.Movies)
            {
                <div class="card-group p-2">
                    <div class="card" id="cardMovie">
                        <div class="img-fluid ">
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                                <img class="card-img-top" src=@movie.PosterPath alt="Film image" id="cardImage">
                            </a>
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a id="deleteButton" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger btn-icon rounded-pill" data-toggle="tooltip" data-placement="top" title="Remove movie"><i class="far fa-trash-alt"></i></a>
                                <a id="editButton" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary btn-icon rounded-pill" data-toggle="tooltip" data-placement="top" title="Edit movie"><i class="far fa-edit"></i></a>
                            }
                        </div>
                        <div class="card-body text-white" id="movieCardBody">
                            <p class="card-text">
                                @movie.Name (@movie.Year)
                            </p>
                        </div>

                    </div>
                </div>
                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div class="modal-body">
                                Do you want to delete movie?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id" type="button" class="btn btn-danger btn-icon rounded-pill">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <partial name="_PagingPartial" model="@Model" />
    </div>
</fieldset>


@section Path{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Movies</li>
    </ol>
}