@model MovieLibrary.Web.ViewModels.Movies.InputCreateMovieViewModel
@{ this.ViewData["Title"] = "Edit movie";
    //var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key))
}

<div class="container text-center">
    <fieldset class="border border-white">
        <legend style="width:auto;padding:10px;">
            Edit movie
        </legend>
        <form class="form-horizontal" method="post">
            <div class="mb-3 row">
                <label asp-for="Name" class="col-form-label col-sm-2">Name:</label>
                <div class="col-sm-8">
                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="@(Model.Name)">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Year" class="col-form-label col-sm-2">Year:</label>
                <div class="col-sm-8">
                    <input asp-for="Year" type="text" class="form-control" id="year" placeholder="@(Model.Year)">
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Runtime" class="col-form-label col-sm-2">Runtime:</label>
                <div class="col-sm-8">
                    <input asp-for="Runtime" type="text" class="form-control" id="runtime" placeholder="@(Model.Runtime)">
                    <span asp-validation-for="Runtime" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Storyline" class="col-form-label col-sm-2">Storyline:</label>
                <div class="col-sm-8">
                    <textarea asp-for="Storyline" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="@(Model.Storyline)"></textarea>
                    <span asp-validation-for="Storyline" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ImdbRating" class="col-form-label col-sm-2">Imdb Rating:</label>
                <div class="col-sm-8">
                    <input asp-for="ImdbRating" type="text" class="form-control" id="imdbRating" placeholder="@(Model.ImdbRating)">
                    <span asp-validation-for="ImdbRating" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="PosterPath" class="col-form-label col-sm-2">Poster:</label>
                <div class="col-sm-8">
                    <input asp-for="PosterPath" type="text" class="form-control-file border" id="posterPath" placeholder="@(Model.PosterPath)">
                    <span asp-validation-for="PosterPath" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="TrailerUrl" class="col-form-label col-sm-2">Trailer:</label>
                <div class="col-sm-8">
                    <input asp-for="TrailerUrl" type="text" class="form-control" id="trailerUrl" placeholder="@(Model.TrailerUrl)">
                    <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
                    <a class="btn btn-primary rounded-pill" href="/Movies/All" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </fieldset>
</div>
@section Path{
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/Movies/All">Movies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Movie</li>
        </ol>
    </nav>

}
