@model MovieLibrary.Web.ViewModels.Movies.InputEditMovieViewModel
@{ this.ViewData["Title"] = "Edit movie";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
    //var artistItems = this.Model.ArtistsItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="container text-center">
    <fieldset class="border border-white">
        <legend style="width:auto;padding:10px;">
            @ViewData["Title"]
        </legend>
        <form class="form-horizontal" method="post">
            <div class="mb-3 row">
                <label asp-for="Name" class="col-form-label col-sm-2">Name:</label>
                <div class="col-sm-8">
                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="@(Model.Name)">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Year" class="col-form-label col-sm-2">Year:</label>
                <div class="col-sm-8">
                    <input asp-for="Year" type="text" class="form-control" id="year" placeholder="@(Model.Year)">
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Runtime" class="col-form-label col-sm-2">Runtime:</label>
                <div class="col-sm-8">
                    <input asp-for="Runtime" type="text" class="form-control" id="runtime" placeholder="@(Model.Runtime)">
                    <span asp-validation-for="Runtime" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Director" class="col-form-label col-sm-2">Director:</label>
                <div class="col-sm-8">
                    <input asp-for="Director" type="text" class="form-control" id="director" placeholder="@(Model.Director)">
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Storyline" class="col-form-label col-sm-2">Storyline:</label>
                <div class="col-sm-8">
                    <textarea asp-for="Storyline" class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="@(Model.Storyline)"></textarea>
                    <span asp-validation-for="Storyline" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Categories" class="col-form-label col-sm-2">Categories:</label>
                <div class="col-sm-8">
                    <div class="row">
                        @foreach (var item in categoryItems)
                        {
                            <div class=" col-sm-2 text-center">
                                <input id="category_@item.Value"
                                       type="checkbox"
                                       name="Categories"
                                       value="@item.Value"
                                       class="form-control" />
                                <label for="category_@item.Value">@item.Text</label>
                            </div>
                        }
                        <span asp-validation-for="Categories" class="text-danger"></span>
                    </div>
                    @*<span asp-validation-for="Categories" class="text-danger"></span>*@
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ImdbRating" class="col-form-label col-sm-2">Imdb Rating:</label>
                <div class="col-sm-8">
                    <input asp-for="ImdbRating" type="text" class="form-control" id="imdbRating" placeholder="@(Model.ImdbRating)">
                    <span asp-validation-for="ImdbRating" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="PosterPath" class="col-form-label col-sm-2">Poster:</label>
                <div class="col-sm-8">
                    <input asp-for="PosterPath" type="text" class="form-control-file border" id="posterPath" placeholder="@(Model.PosterPath)">
                    <span asp-validation-for="PosterPath" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="SecondPosterPath" class="col-form-label col-sm-2">Second Poster:</label>
                <div class="col-sm-8">
                    <input asp-for="SecondPosterPath" type="text" class="form-control-file border" id="secondPosterPath" placeholder="@(Model.SecondPosterPath)">
                    <span asp-validation-for="PosterPath" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="TrailerUrl" class="col-form-label col-sm-2">Trailer:</label>
                <div class="col-sm-8">
                    <input asp-for="TrailerUrl" type="text" class="form-control" id="trailerUrl" placeholder="@(Model.TrailerUrl)">
                    <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                </div>
            </div>
            @*<div class="mb-3 row">
            <label asp-for="Artists" class="col-form-label col-sm-2">Artists:</label>
            <div class="col-sm-8">
                <div class="row">
                    @foreach (var item in artistItems)
                    {
                        <div class=" col-sm-6 text-center">
                            <input id="artist_@item.Value"
                                   type="text"
                                   name="Artists"
                                   value="@item.Text"
                                   class="form-control" />
                        </div>
                    }
                </div>
            </div>
        </div>*@
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
                    <a class="btn btn-primary rounded-pill" asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </fieldset>
</div>
@section Path{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Movies" asp-action="All">Movies</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Movie</li>
    </ol>

}

