@using MovieLibrary.Common
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using MovieLibrary.Data.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="keywords" content="movie,library,film,category,imdb,collection" />
    <meta name="description" content="Movie's library is a big library for movies. Find ratings,comments and reviews for a lot of movies.Create collection,enjoy and fun" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="apple-touch-icon" sizes="10x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="~/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>
    <div class="container-fluid">
        <button id="switch" class="rounded-pill" onclick="toggleTheme()"><i class="fas fa-moon"></i><i class="fas fa-minus"></i><i class="fas fa-sun"></i></button>

        <partial name="_CookieConsentPartial" />
        <div id="main">
            <nav id="navigationBar">
                <img src="/logo/8349f37b-9878-43c2-a37a-1795d227c358_200x200.png" alt="logo" style="width:180px;height:120px;">

                <a class="navbar-brand" asp-area="" asp-action="Index" asp-controller="Home">Home</a>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Chat">Live <i class="fas fa-comments"></i></a>

                <ul id="ulRight">
                    <partial name="_LoginPartial" />
                </ul>
            </nav>
        </div>
        @RenderSection("Path", false)
        <div class="container-fluid" id="body">
            <div class="row col-sm-12 ">

                <vc:random-movies-view-components>
                </vc:random-movies-view-components>
            </div>
            <hr />
            <div class="row">
                <main role="main" class="col-sm-10 ">
                    @this.RenderBody()
                </main>
                <br />
                <br />
                <div class="col-sm-2 border border-top-0 border-bottom-0" id="rightViewComponent">
                    <vc:last-movies-view-components>
                    </vc:last-movies-view-components>
                </div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container-fluid">
                &copy; @DateTime.Now.Year - Petya Dankova made with <i class="fas fa-heart text-danger"></i> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script>
            // function to set a given theme/color-scheme
            function setTheme(themeName) {
                localStorage.setItem('theme', themeName);
                document.documentElement.className = themeName;
            }

            // function to toggle between light and dark theme
            function toggleTheme() {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-light');
                } else {
                    setTheme('theme-dark');
                }
            }

            // Immediately invoked function to set the theme on initial load
            (function () {
                if (localStorage.getItem('theme') === 'theme-dark') {
                    setTheme('theme-dark');
                } else {
                    setTheme('theme-light');
                }
            })();
        </script>

        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        @await this.RenderSectionAsync("Scripts", required: false)

    </div>

</body>
</html>
