@using MovieLibrary.Common
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using MovieLibrary.Data.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="~/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />



</head>
<body>
    <div id="main">
        <nav id="navigationBar">
            <img src="/logo/1.png" alt="logo" style="width:180px;height:120px;">

            <a class="navbar-brand" asp-area="" asp-action="Index" asp-controller="Home">Home</a>

            @*<button class="navbar-toggler collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNavDropdown-7"
                        aria-controls="navbarNavDropdown-7"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@

            @*<ul>*@
            <partial name="_LoginPartial" />
            @*@RenderSection("Register", required: false)
                @RenderSection("Login", required: false)*@
            @*</ul>*@

        </nav>
    </div>
    @RenderSection("Path", false)
    <div class="container-fluid" id="body">
        @*<div class="row col-md-12">*@
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            <vc:newest-movies-view-components>
            </vc:newest-movies-view-components>
            <br />
        }
        @*</div>*@
        <div class="row">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="col-md-10 ">
                @this.RenderBody()
            </main>
            <div class="col-md-2 " style="background-color:black">
                <br />
                <div>
                </div>
                @*Todo content*@
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Petya Dankova made with <i class="fas fa-heart text-danger"></i>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    <script src="~/js/lazy.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>





    @await this.RenderSectionAsync("Scripts", required: false)


</body>
</html>
