@model MovieLibrary.Web.Views.ViewModels.TopRatedMoviesViewModel

<div class="container text-center">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        @{

            var movies = Model.Movies.ToArray();

        }
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                @*<a href="/Movies/Details?movieId=@(movies[0].Id)">
                    <img src="@(movies[0].PosterPath)" alt="MoviePhoto" width="190" height="220">
                </a>
                <label><b>@(movies[0].Name)(@(movies[0].Rating)<i class="fas fa-star"></i>)</b></label>*@
            </div>
            @for (int i = 1; i < movies.Length; i++)
            {
                <div class="carousel-item">
                    @*<a href="/Movies/Details?movieId=@(movies[i].Id)">
                        <img src="@(movies[i].PosterPath)" alt="MoviePhoto" width="190" height="220">
                    </a>
                    <label><b>@(movies[i].Name)(@(movies[i].Rating)<i class="fas fa-star"></i>)</b></label>*@
                </div>
            }
        </div>


        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>



